.ls-box {
	margin-top: 50px;
	top: -100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ls-wrapper {
	width: 380px;
	padding: 20px 30px 30px 30px;
	background: #ffffff;
	border-radius: 10px;
	text-align: center;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.ls-wrapper header {
	font-style: italic;
	text-transform: uppercase;
	color: #2f8dff;
	font-size: 55px;
	font-weight: 600;
	text-shadow: 1px 1px 4px black;
}

.ls-wrapper form {
	margin: 20px 0;
}

.ls-field {
	margin-bottom: 20px;
}

.ls-field .ls-input-area {
	height: 50px;
	position: relative;
}

.ls-input-area input {
	height: 100%;
	outline: none;
	padding: 0 45px;
	font-size: 18px;
	background: none;
	caret-color: #a50fe1;
	border-radius: 5px;
	border: 1px solid #bfbfbf;
	border-bottom-width: 2px;
	transition: all 0.2s ease;
}

.ls-field .ls-input-area i {
	position: absolute;
	top: 50%;
	font-size: 18px;
	pointer-events: none;
	transform: translateY(-50%);
}

.ls-input-area .ls-icon {
	left: 15px;
	color: #bfbfbf;
	transition: color 0.2s ease;
}

.ls-wrapper a {
	color: #a50fe1;
	text-decoration: none;
}

.ls-wrapper a:hover {
	text-decoration: underline;
}

.ls-submit-btn {
	text-transform: uppercase;
	outline: 0;
	background-color: #2f8dff;
	width: 322px;
	border: 3;
	padding: 20px;
	padding-top: 20px;
	font-size: 14px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	border-radius: 6px;
	font-style: italic;
	transition: all 0.2s ease-in-out;
	font-size: larger;
	font-weight: bolder;
	border: none;
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

.ls-submit-btn:hover {
	background: #b3d5ff;
	color: #010606;
	transform: scale(1.02);
}

.ls-status-text {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 30px;
	position: relative;
	top: 40px;
	color: red;
}

.ls-signup-redirect-text {
	padding-top: 40px;
}

.ls-signup-redirect-btn {
	padding-top: 5px;
	text-decoration: underline;
	color: #2f8dff;
	font-size: large;
	cursor: pointer;
	transition: transform 0.25s ease-out;
}

.ls-signup-redirect-btn:hover {
	transform: scale(1.09);
}
